---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-20">
      <div class="max-w-sm mx-auto">
        <Text
          tag="h1"
          variant="displaySM"
          class="tracking-tight font-semibold text-base-900"
        >
          Join our community
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium text-balance"
        >
          Sign up to join our community and start building your brand.
        </Text>
        <form action="#" method="POST" class="mx-auto mt-12">
          <div class="flex flex-col gap-y-6">
            <div>
              <label class="text-sm text-base-500 font-medium">
                First name
              </label>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  required
                  aria-required="true"
                  aria-describedby="first-name-error"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-700 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="first-name-error" class="text-red-600 text-sm hidden">
                  Please enter your first name.
                </span>
              </div>
            </div>
            <div>
              <label class="text-sm text-base-500 font-medium"> Email </label>
              <div class="mt-2.5">
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  required
                  aria-required="true"
                  aria-describedby="email-error"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-700 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="email-error" class="text-red-600 text-sm hidden">
                  Please enter a valid email address.
                </span>
              </div>
            </div>
          </div>
          <div class="flex items-center mt-4 gap-3">
            <input
              id="agreement"
              name="agreement"
              type="checkbox"
              class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
            />
            <label class="undefined block text-sm text-base-500">
              You agree to our
              <a class="text-accent-700 hover:text-base-500" href="#_">
                Terms of service
              </a>
              and
              <a class="t text-accent-700 hover:text-base-500" href="#_">
                Privacy Policy
              </a>
            </label>
          </div>
          <Button variant="default" size="base" class="mt-8 w-full">
            Sign up
          </Button>
          <div class="flex items-center mt-4">
            <Text tag="p" variant="textSM" class="text-base-500">
              Don't have an account? Already have an account?
              <a class="text-accent-700 hover:text-base-500" href="/login">
                Sign in
              </a>
            </Text>
          </div>
        </form>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
