---
// Assets
import { Image } from "astro:assets";
import avatar from "@/images/avatar.jpg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-20">
    <div class="text-center max-w-4xl mx-auto">
      
      <blockquote
        class="text-2xl leading-tight tracking-tight sm:text-3xl md:text-4xl lg:text-5xl text-base-900 italic font-medium"
      >
        "Being in the financial industry, we were always looking for ways to
        enhance our transactions' security and efficiency."
      </blockquote>
      <figcaption class="flex text-left justify-center mt-8">
        <div class="flex items-center gap-4">
          <Image
            alt="avatar"
            width={48}
            height={48}
            src={avatar}
            class="object-cover rounded-full size-12"
          />
          <div>
            <Text tag="h3" variant="textSM" class="text-base-900 font-medium">
              Fernando Monte
            </Text>
            <Text tag="p" variant="textSM" class="text-base-500">
              Designer
            </Text>
          </div>
        </div>
      </figcaption>
    </div>
  </Wrapper>
</section>
